.scrollbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.scrollbar-track {
  width: 100%;
  height: 20px;
  background-color:white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
}

.scrollbar-empty {
  height: 100%;
  background-color: purple;
  transition: width 0.5s ease;
  position: absolute;
  left: 0;
}

.scrollbar-text {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}
